<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<style>
	  p {
	      color: #414552 !important;
        font-weight: 400;
        font-size: 16px;
        font-family: -apple-system, 'SF Pro Display', 'SF Pro Text', 'Helvetica', sans-serif;
        line-height: 24px;
	  }
	  .button {
      color: #fff !important;
      font-weight: 500;
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;
      padding-left: 0.75rem;
      padding-right: 0.75rem;
      background-color: #1A4CE5;
      border-radius: 0.5rem;
      text-decoration: none;
      font-size: 16px;
      font-family: -apple-system, 'SF Pro Display', 'SF Pro Text', 'Helvetica', sans-serif;
      line-height: 24px;
	  }
  </style>
</head>
<body style="background: #f6f9fc;">

  <div style="height: 63px"></div>

  <div style="border-radius: 16px; margin: 0 auto; width: 600px; min-width: 600px; padding: 48px; background: #fff;">

    <div>
      <svg width="55" height="28" viewBox="0 0 55 28" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M35.4823 8.75C34.1988 8.14945 32.7665 7.81396 31.2558 7.81396C25.7415 7.81396 21.2713 12.2842 21.2713 17.7985C21.2713 19.9881 21.9762 22.0131 23.1713 23.6589H15.4109V28H44.9302V27.976C45.1452 27.9919 45.3624 28 45.5814 28C50.3764 28 54.2636 24.1129 54.2636 19.3178C54.2636 15.3873 51.6518 12.0669 48.069 10.9973C47.4752 7.8262 44.6923 5.42636 41.3488 5.42636C38.8575 5.42636 36.6774 6.75884 35.4823 8.75Z" fill="url(#paint0_linear_3_164)"/>
        <g filter="url(#filter0_i_3_164)">
          <path d="M28.6926 27.9462C35.846 27.3209 41.4573 21.3157 41.4573 14C41.4573 6.26801 35.1893 0 27.4573 0C20.86 0 15.3284 4.5634 13.8471 10.7059H11.3985V28H28.6926V27.9462Z" fill="white"/>
        </g>
        <path d="M16.2791 28V27.9913C21.9517 27.7636 26.4806 23.0929 26.4806 17.3644C26.4806 11.4904 21.7189 6.7287 15.845 6.7287C10.9874 6.7287 6.89051 9.98511 5.61812 14.434C2.42367 15.0089 0 17.8028 0 21.1628C0 24.5317 2.43648 27.3315 5.64341 27.8962V28H16.2791Z" fill="url(#paint1_linear_3_164)"/>
        <defs>
          <filter id="filter0_i_3_164" x="11.3985" y="0" width="34.0588" height="32" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
            <feFlood flood-opacity="0" result="BackgroundImageFix"/>
            <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
            <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
            <feOffset dx="4" dy="4"/>
            <feGaussianBlur stdDeviation="16"/>
            <feComposite in2="hardAlpha" operator="arithmetic" k2="-1" k3="1"/>
            <feColorMatrix type="matrix" values="0 0 0 0 0.933333 0 0 0 0 0.933333 0 0 0 0 0.933333 0 0 0 1 0"/>
            <feBlend mode="normal" in2="shape" result="effect1_innerShadow_3_164"/>
          </filter>
          <linearGradient id="paint0_linear_3_164" x1="34.8372" y1="5.42636" x2="46.0155" y2="29.0853" gradientUnits="userSpaceOnUse">
            <stop offset="0.451843" stop-color="#FF3A51"/>
            <stop offset="1" stop-color="#C81328"/>
          </linearGradient>
          <linearGradient id="paint1_linear_3_164" x1="8.89922" y1="25.6611" x2="9.20763" y2="28.2767" gradientUnits="userSpaceOnUse">
            <stop stop-color="#1A4CE5"/>
            <stop offset="1" stop-color="#0C36B7"/>
          </linearGradient>
        </defs>
      </svg>
    </div>

    <p>Bonjour,</p>
    <p>Nous avons reçu une demande de rénitialisation de mot de passe pour le compte France Nuage associé à <span style="color: #1A4CE5">{{ email }}</span></p>

    <div>
      <a href="{{url}}" class="button">
        Rénitialiser mon mot de passe
      </a>
    </div>

    <p>
      Si vous n'êtes pas à l'origine de cette demande ou si vous rencontrez des difficultés pour vous connecter,
      <a style="color: #1A4CE5; font-weight: 600; text-decoration: none">contacter-nous via notre site d'assistance</a>. Aucune modification n'a été apportée à votre compte.
    </p>

    <p>- L'équipe France Nuage</p>
  </div>

  <div style="width: 600px; margin: 0 auto;">
    <p style="color: #c1c1c1">France Nuage</p>
  </div>

  <div style="height: 63px"></div>

</body>
</html>
